<div class="row mb-4 post">
    <div class="col-md-5">
        <span>by {{user.name}} on {{date_created}}.</span>

        <h3 id="title">{{title}}</a></h3>
    </div>
    <div class="col-md-7">
        <div class="description card">
            <form class="comment">
                <div class="body">
                    <div>
                        <textarea id="description">{{this.description}}</textarea>
                    </div>
                    <button class="btn btm-sm" id="update" data-id="{{this.id}}">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class=" row mb-4 post">

    {{#each comments as |comment| }}
    <div class="card-comment">
        <div>
            <p>{{comment.description}}</p>
            <h5>- by {{user.name}} on {{date_created}}</h5>
        </div>
    </div>
    {{/each}}

</div>
{{#if logged_in}}
<div class="comment card">
    <form class="comment">
        <h2 class="header">Add a comment</h2>
        <div class="body">
            <div>
                <textarea name="comment-body" id="comment-body"></textarea>
            </div>
            <div>
                <button type="submit" class="btn" id="comment">Save comment</button>
            </div>
        </div>
    </form>
</div>
{{/if}}

<script src="/js/edit.js"></script>
<script src="/js/comment.js"></script>